<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="panel">
				<div class="panel-heading">
					<h2 class="text-center">Browse all recipes</h2>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3" ng-repeat="recipe in recipes track by $index">
							<div class="well">
								<h3>{{recipe.name}} - <small class="muted">{{recipe.prepTime}} + {{recipe.cookTime}} minutes</small></h3>
								<hr>
								<span class="badge" ng-repeat="tag in recipe.tags"><p>{{tag}}</p></span>
								<button class="btn btn-primary btn-round" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
								  Show more <span class="caret"></span>
								</button>
								<div class="collapse" id="collapseExample">
									<div class="well">
										<h4>Ingredients</h4>
										<ul class="list-group">
											<li class="list-group-item" ng-repeat="ingredient in recipe.ingredients">
												<p><strong>{{ingredient.quantity}}</strong> {{ingredient.unit}} <em>{{ingredient.name}}</em></p>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>