<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel">
				<div class="panel-heading">
					<h2 class="text-center">Browse all recipes</h2>
				</div>
				<div class="panel-body">
				<div class="input-group">
					<div class="input-group-addon"><i class="icon ion-at"></i></div>
					<input type="text" ng-model="searchText" placeholder="Search..." class="form-control">
				</div>
				<br>
					<div class="row">
						<div class="col-md-3 recipe-list-card" ng-repeat="recipe in recipes | filter:searchText">
							<div class="well">
								<h3>{{recipe.name}} - <small class="muted">{{recipe.prepTime}} + {{recipe.cookTime}} minutes</small></h3>
								<hr>
								<span class="label label-info label-custom" ng-repeat="tag in recipe.tags | filter:searchText"><p>{{tag}}</p></span>
								<button class="btn btn-primary btn-round" type="button" data-toggle="collapse" data-target="#recipe{{$index}}" aria-expanded="false" aria-controls="collapseExample">
								  Show more <span class="caret"></span>
								</button>
								<div class="collapse" id="recipe{{$index}}">
									<div class="well">
										<h4>Ingredients</h4>
										<ul class="list-group">
											<li ng-repeat="ingredient in recipe.ingredients">
												<p><strong>{{ingredient.quantity}}</strong>{{ingredient.unit}} <em>{{ingredient.name}}</em></p>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>