html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Cebin', sans-serif;
}
h1, h2, h3, h4, h5 {
	font-family: 'Lobster', cursive;
}
p {
	font-size: 16px;
}
hr {
	border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.text-white {
	color: #fff !important;
}
snap-content {
	background: url(../images/main_bg.jpeg) no-repeat center center;
	background-size: cover;
}
#loading-bar {
	z-index: 99;
}
.ion-navicon {
	position: fixed;
	font-size: 50px;
	top: 20px;
	left: 20px;
	color: white;
	cursor: pointer;
	padding: 20px;
}
.profile-picture {
	padding: 20px 0;
}
.nav-profile {
	background-color: #5cb85c;
	padding: 30px 0;
}
.panel {
	background-color: rgba(0,0,0,0.5);
	border-radius: 0;
	color: #fff;
}
.btn {
	border: 1px solid #fff;
	transiton: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
}
.btn-transparent {
	background: transparent;
}
.btn-round {
	border-radius: 17px;
}
.btn-round-lg {
	border-radius: 22.5px;
}
.btn-round-sm {
	border-radius: 15px;
}
.btn-round-xs {
	border-radius: 11px;
	padding-left: 10px;
	padding-right: 10px;
}
.input-group-addon {
	min-width: 50px;
}
.view {
  position: inherit;
  margin: 0 auto;
  top: 120px;
  z-index: -1;
}
.view.ng-leave {
  -webkit-animation-name: fadeOutUp;
  -moz-animation-name: fadeOutUp;
  -ms-animation-name: fadeOutUp;
  -o-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -ms-animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.view.ng-enter {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -ms-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}